<section id="wrapper">
    <div class="login-register" style="background-image:url(./assets/images/template/car-1149997_1920.jpg);">
        <div style="border-radius: 20px; margin-top: -3em !important" class="login-box card">
            <div class="card-body">
                <form ngNativeValidate #afiliated="ngForm" (ngSubmit)="afiliatedCustomer(afiliated)" class="form-horizontal form-material" id="loginform">
                    <h3 class="box-title m-b-20 text-center">
                        <img style="width:80px;" src="./assets/images/template/Logo.png" alt="woowtow_branding">
                    </h3>
                    <div class="col-xs-12">
                        <mat-form-field class="input-full-width2">
                            <input ngModel type="email" name="email" class="openSansProExtraLight font-20" required matInput placeholder="Email">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field class="input-full-width2">
                            <input ngModel name="password" type="password" class="openSansProExtraLight font-20" required matInput placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded openSansProRegular font-20 bg-yellow text-dark" type="submit">Login now!</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            You dont have an account? <a [routerLink]="['/public/new/afiliated']" class="text-info m-l-5"><b>Sign up!</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>