<div class="container-fluid">
    <mat-card *ngFor="let card of GraphicOrders" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{card.customer.client.name}}</mat-card-title>
            <mat-card-subtitle>
                <span class="badge badge-success font-14">USD&nbsp;{{card.service_ref.amount}}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://maps.googleapis.com/maps/api/staticmap?size=400x400&center={{card.fromLng}},{{card.fromLat}}
        &path=color:yellow|weight:10|{{card.fromLng}},{{card.fromLat}}|{{card.toLat}},{{card.toLng}}
        &markers=color:yellow|label:M|{{card.fromLng}},{{card.fromLat}}
        &markers=color:yellow|label:G|{{card.toLat}},{{card.toLng}}
        &zoom=8&maptype=mobile&key=AIzaSyC025k9Zis8z0yCI7foth1VrlPqlE4etZY" [alt]="card.service_ref.payment_description">
        <mat-card-content>
            <!--<p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>-->
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>-->
    </mat-card>
</div>
<!--https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=YOUR_API_KEY-->
<!--
http://maps.googleapis.com/maps/api/staticmap?size=400x400&
path=40.737102,-73.990318|40.749825,-73.987963|40.752946,-73.987384|40.755823,-73.986397&sensor=false
&key=AIzaSyC025k9Zis8z0yCI7foth1VrlPqlE4etZY
-->