<style>
    .row-map {
        position: fixed;
        z-index: 5000;
        margin-top: 1em;
    }
    
    .list-group .list-group-item:hover {
        background-color: #F0EEED;
    }
</style>
<div *ngIf="_calculator.displayPopTax" class="container row-map">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="space-20"></div>
                <h3 class="card-title openSansProBold text-center">
                    Sale Tax Calculator
                </h3>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem impedit sapiente totam. Voluptate incidunt sapiente unde, quaerat suscipit harum maiores veritatis assumenda cumque doloribus aut ea, omnis exercitationem natus tenetur.
                    </p>
                </div>
                <div class="soft-tiny palm-push--sides bg-primary-layer-color pointer-events--all hidden--palm">
                    <div class="bg-primary-layer-color pointer-events--all">
                        <div class="position--relative">
                            <div class="fare-estimate__input-connector z-10"></div>
                            <div class="fare-estimate__pickup push-tiny--bottom">
                                <div class="autocomplete-container">
                                    <div class="autocomplete position--relative">
                                        <div class="autocomplete__input hard flush--bottom autocomplete__input--icon">
                                            <div>
                                                <input (keyup)="LoadPLacesFrom()" #from value="" placeholder="Ingresa el punto de partida" autocomplete="off" aria-label="Ingresa un punto de partida: dirección, ciudad y estado requeridos">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_style_4nVh08 fare-estimate__destination-row">
                                <div class="_style_VxPAE fare-estimate__destination">
                                    <div class="autocomplete-container">
                                        <div class="autocomplete position--relative">
                                            <div class="autocomplete__input hard flush--bottom autocomplete__input--icon">
                                                <div><input (keyup)="LoadPLacesTo()" #to value="" placeholder="Ingresa un destino" autocomplete="off" aria-label="Ingresa un destino: dirección, ciudad y estado requeridos"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="space-20"></div>
                <div *ngIf="_intelliSense.destiny.lat !== 0 && _intelliSense.origin.lat !== 0" class="_style_4nVh08 fare-estimate__destination-row">
                    <div class="_style_VxPAE fare-estimate__destination">
                        <div class="autocomplete-container">
                            <div class="autocomplete position--relative">
                                <form>
                                    <ul class="list-group">
                                        <li (click)="OpenDialog(_calculator.AutomobileHook)" class="list-group-item d-flex justify-content-between align-items-center">Hook truck
                                            <span class="badge badge-dark badge-pill font-16">{{_calculator.AutomobileHook.Total | number}} $</span>
                                        </li>
                                        <li (click)="OpenDialog(_calculator.AutomobileFlat)" class="list-group-item d-flex justify-content-between align-items-center">Flatbet
                                            <span class="badge badge-dark badge-pill font-16">{{_calculator.AutomobileFlat.Total | number}} $</span>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-20"></div>
            </div>
        </div>
    </div>
</div>
<agm-map [latitude]="_mapAutocomplete.lat" [longitude]="_mapAutocomplete.lng" [zoom]="_mapAutocomplete.zoom">
    <agm-marker *ngIf="_intelliSense.destiny.lat === 0" [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-direction [renderOptions]="renderOption" [markerOptions]="markerOptions" *ngIf="_intelliSense.origin.lat !== 0 && _intelliSense.destiny.lat !== 0" [origin]="_intelliSense.origin" [destination]="_intelliSense.destiny"></agm-direction>
    <ng-container *ngIf="onTracking">
        <agm-direction *ngFor="let tracking of GraphicOrders" [origin]="{lat:tracking.fromLng, lng:tracking.fromLat}" [destination]="{lat:tracking.toLat, lng:tracking.toLng}" [renderOptions]="renderOption" [markerOptions]="markerOptions"></agm-direction>
    </ng-container>
</agm-map>